<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/include/layout}">
<th:block layout:fragment="content">
	
	<!-- Custom CSS Files -->
	
	
	
	<!-- ---------------------------------------------------------------------------- -->
	<!-- HTML 작성 공간 -->
	
	<div class="page-titles mb-7 mb-md-5">
		<div class="row">
			<div class="col-lg-8 col-md-6 col-12 align-self-center">
				<nav aria-label="breadcrumb">
                	<ol class="breadcrumb align-items-center">
                		<li class="breadcrumb-item">
                    		<a class="text-muted text-decoration-none" th:href="@{/home}">
                     			<i class="ti ti-home fs-5"></i>
                    		</a>
                   	 	</li>
						<li class="breadcrumb-item" aria-current="page">마이 페이지</li>
                  	</ol>
				</nav><br>
				<h2 class="mb-0 fw-bolder fs-8">마이 페이지</h2>
			</div><br>
		</div>
	</div>
	
	<div class="card">
    	<ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
       		<li class="nav-item" role="presentation">
            	<button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" id="pills-account-tab" data-bs-toggle="pill" data-bs-target="#pills-account" type="button" role="tab" aria-controls="pills-account" aria-selected="true">
                	<i class="ti ti-user-circle me-2 fs-6"></i>
                	<span class="d-none d-md-block">내 정보 변경</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
            	<button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" id="pills-notifications-tab" data-bs-toggle="pill" data-bs-target="#pills-notifications" type="button" role="tab" aria-controls="pills-notifications" aria-selected="false">
                	<i class="ti ti-bell me-2 fs-6"></i>
                	<span class="d-none d-md-block">Notifications</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
            	<button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" id="pills-bills-tab" data-bs-toggle="pill" data-bs-target="#pills-bills" type="button" role="tab" aria-controls="pills-bills" aria-selected="false">
                	<i class="ti ti-article me-2 fs-6"></i>
                	<span class="d-none d-md-block">Bills</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
            	<button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" id="pills-security-tab" data-bs-toggle="pill" data-bs-target="#pills-security" type="button" role="tab" aria-controls="pills-security" aria-selected="false">
                	<i class="ti ti-lock me-2 fs-6"></i>
                	<span class="d-none d-md-block">내 정보 보호</span>
                </button>
            </li>
		</ul>
        <div class="card-body">
        	<div class="tab-content" id="pills-tabContent">
        		<!-- 첫 번째 탭 -->
            	<div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab" tabindex="0">
	                <div class="row">
	                    <!-- 프로필 이미지 등록 부분 -->
						<div class="col-lg-4 d-flex align-items-stretch">
                			<form name="update_profile_image_form" id="update_profile_image_form" enctype="multipart/form-data" class="w-100">
							  <div class="card w-100 border position-relative overflow-hidden">
							    <div class="card-body p-4">
							      <h4 class="card-title">프로필 사진 변경</h4>
							      <p class="card-subtitle mb-4">Click the image to change my profile.</p>
								  
							      <div class="text-center pt-4">
							        <!-- 업로드 이미지 (클릭 이벤트용) -->
							        <img id="preview_image" th:src="@{/img/default_profile.png}" alt="profile-img"
							             class="img-fluid rounded"
							             style="width: 240px; height: 240px; object-fit: cover; cursor: pointer; transition: 0.2s;"
							             onclick="document.getElementById('profile_image').click();">
									
							        <!-- 숨겨진 파일 인풋 -->
							        <input type="file" name="profile_image" accept=".jpg,.jpeg,.png"
							               id="profile_image" class="d-none" onchange="previewSelectedImage(this)">
							        <input type="text" name="member_no" id="member_no" th:value="${member.memberNo}" class="d-none">
									
							        <p class="mt-3 pt-4 mb-3 text-muted small" onclick="document.getElementById('profile_image').click()" style="cursor: pointer;">
									    JPG, JPEG, PNG 형식만 허용되며,<br>최대 2MB까지 업로드할 수 있습니다.
									</p>
									<button type="submit" class="btn btn-sm btn-outline-secondary mt-1" id="saveImageBtn" style="visibility: hidden;">
									  Save
									</button>
									<button type="button" class="btn btn-sm btn-outline-danger mt-1" id="resetImageBtn" style="visibility: hidden;" onclick="resetToDefaultImage()">
									  reset
									</button>
							      </div>
							    </div>
							  </div>
							</form>
						</div>
							
						<!-- 비밀번호 변경 부분 -->
						<div class="col-lg-8 d-flex align-items-stretch">
	                      <div class="card w-100 border position-relative overflow-hidden">
	                        <div class="card-body p-4">
	                          <h4 class="card-title">비밀번호 변경</h4>
	                          <p class="card-subtitle mb-4">To change your password, please confirm here</p>
	                          <form name="update_pw_form" id="update_pw_form" class="w-100">
	                            <div class="mb-3">
	                              <label for="member_id" class="form-label">아이디</label>
	                              <input type="text" class="form-control" id="member_id" name="member_id" th:value="${member.memberId}" readonly>
	                            </div>
	                            <div class="mb-3">
	                              <label for="member_pw" class="form-label">현재 비밀번호*</label>
	                              <input type="password" class="form-control" id="member_pw" name="member_pw">
	                            </div>
	                            <div class="mb-3">
	                              <label for="member_new_pw" class="form-label">변경할 비밀번호*</label>
	                              <input type="password" class="form-control" id="member_new_pw" name="member_new_pw">
	                            </div>
	                            <div class="mb-3">
	                              <label for="member_new_pw_check" class="form-label">변경할 비밀번호 확인*</label>
	                              <input type="password" class="form-control" id="member_new_pw_check" name="member_new_pw_check">
	                            </div>
	                            <div class="d-flex align-items-center justify-content-end gap-6">
                        			<button type="submit" class="btn btn-primary">수정</button>
                        			<button type="button" class="btn bg-danger-subtle text-danger" th:onclick="|location.href='@{/home}'|">취소</button>
                      			</div>
	                          </form>
	                        </div>
	                      </div>
	                    </div>
	                    
	                    <!-- 개인정보 변경 부분 -->
	                    <div class="col-12">
	                      <div class="card w-100 border position-relative overflow-hidden mb-0">
	                        <div class="card-body p-4">
	                          <h4 class="card-title">개인정보 수정</h4>
	                          <p class="card-subtitle mb-4">To change your personal detail , edit and save from here</p>
	                          <form name="update_profile_info_form" id="update_profile_info_form" class="w-100">
	                            <div class="row">
	                              <div class="col-lg-6">
	                                <div class="mb-3 d-flex gap-3 align-items-end">
									  <div class="flex-grow-1">
									  	<th:block th:if="${member != null}">
										    <label for="member_name" class="form-label">이름*</label>
										    <input type="text" class="form-control" id="member_name" name="member_name" th:value="${member.memberName}"/>									  	
									  	</th:block>
									  	<th:block th:if="${member == null}">
										    <label for="member_name" class="form-label">이름*</label>
										    <input type="text" class="form-control" id="member_name" name="member_name"/>									  	
									  	</th:block>
									  </div>
									  <div style="width: 120px;">
									  	<th:block th:if="${member != null}">
										    <label for="member_gender" class="form-label">성별</label>
										    <select class="form-select" id="member_gender" name="member_gender">
										      <option value="">선택</option>
										      <option value="M" th:selected="${member.memberGender == 'M'}">남</option>
										      <option value="F" th:selected="${member.memberGender == 'F'}">여</option>
										    </select>
									    </th:block>
									  </div>
									</div>
									
									<!-- 생년월일 -->
	                                <div class="mb-3">
	                                  <th:block th:if="${member != null}">
		                                  <label for="member_birth" class="form-label">생년월일<span class="text-muted small"> (8자리)</span></label>
		                                  <input type="text" class="form-control" id="member_birth" name="member_birth" th:value="${member.memberBirth}" placeholder="yyyy-mm-dd"/>
	                                  </th:block>
	                                </div>
									
	                                <!-- 연락처 -->
	                                <div class="mb-3">
	                                  <th:block th:if="${member != null}">
		                                  <label for="member_phone" class="form-label">연락처<span class="text-muted small"> (10~11자리)</span></label>
		                                  <input type="text" class="form-control" id="member_phone" name="member_phone" th:value="${member.memberPhone}" placeholder="010-XXXX-XXXX"/>
	                                  </th:block>
	                                </div>
	                                
	                              </div>
	                              <div class="col-lg-6">
	                              	
	                              	<div class="mb-3 d-flex gap-3">
									  <div class="flex-grow-1">
									  	<th:block th:if="${#authentication.principal.member.dept != null}">
									    	<label for="member_dept" class="form-label">부서</label>
									    	<input type="text" class="form-control" id="member_dept" name="member_dept" th:value="${#authentication.principal.member.dept.deptName}" disabled>
									    </th:block>
									    <th:block th:if="${#authentication.principal.member.dept == null}">
									    	<label for="member_dept" class="form-label">부서</label>
									    	<input type="text" class="form-control" id="member_dept" name="member_dept" value="미배정" disabled>
									    </th:block>
									  </div>
									  <div class="flex-grow-1">
									  	<th:block th:if="${#authentication.principal.member.pos != null}">
									    	<label for="member_pos" class="form-label">직급</label>
									    	<input type="text" class="form-control" id="member_pos" name="member_pos" th:value="${#authentication.principal.member.pos.posName}" disabled>
									    </th:block>
									    <th:block th:if="${#authentication.principal.member.pos == null}">
									    	<label for="member_pos" class="form-label">직급</label>
									    	<input type="text" class="form-control" id="member_pos" name="member_pos" value="미배정" disabled>
									    </th:block>
									  </div>
									</div>
									
								    <div class="mb-3 d-flex gap-3">
								     	<!-- 근속상태 -->
								    	<div class="flex-grow-1">
								      		<label for="employment_status" class="form-label">근속상태</label>
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 100}" value="재직" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 101}" value="수습" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 102}" value="인턴" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 200}" value="전출" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 300}" value="휴직" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 301}" value="대기" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 400}" value="해고" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 401}" value="은퇴" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 402}" value="퇴사" disabled />
								      		<input type="text" class="form-control" id="employment_status" name="employment_status" th:if="${member.status == 900}" value="사망" disabled />
								    	</div>
								    	<!-- 입사일 -->
								    	<div class="flex-grow-1">
								    		<th:block th:if="${member != null}">
								      			<label for="account_creation_date" class="form-label">입사일</label>
								      			<input type="text" class="form-control" id="account_creation_date" name="account_creation_date" th:value="${#temporals.format(member.regDate, 'yyyy-MM-dd')}" disabled />
								      		</th:block>
								    	</div>
								    </div>
								    
								    <!-- 이메일 -->
	                                <div class="mb-3">
	                                  <th:block th:if="${member != null}">
		                                  <label for="member_email" class="form-label">이메일</label>
		                                  <input type="email" class="form-control" id="member_email" name="member_email" th:value="${member.memberEmail}"/>
	                                  </th:block>
	                                </div>
								    
	                              </div>
	                              
	                              <div class="col-12">
									<div class="mb-3">
									    <div class="row">
									    	<!-- 광역 셀렉트 -->
									      	<div class="col-lg-3 mb-3">
									      		<label for="member_addr1" class="form-label">주소(광역)</label>
											    <select class="form-select" id="member_addr1" name="member_addr1" aria-label="Select Region">
											        <option value="">-</option>
											        <option th:each="address : ${addr1List}"
											                th:value="${address}"
											                th:text="${address}"
											                th:selected="${address == selectedAddr1}">
											        </option>
											    </select>
											</div>
									      	
									      	<!-- 지역 셀렉트 -->
									      	<div class="col-lg-3 mb-3">
									      		<label for="member_addr2" class="form-label">주소(지역)</label>
									        	<select class="form-select" id="member_addr2" name="member_addr2" aria-label="Select Area">
									         		<option value="">-</option>
											        <option th:each="addr2 : ${addr2List}"
											                th:value="${addr2}"
											                th:text="${addr2}"
											                th:selected="${addr2 == selectedAddr2}">
											        </option>
									        	</select>
									      	</div>
									      	
									      	<!-- 상세주소 입력 -->
									      	<div class="col-lg-6 mb-3">
									      		<th:block th:if="${member != null}">
									      			<label for="member_addr3" class="form-label">주소(상세)</label>
									        		<input type="text" class="form-control" id="member_addr3" name="member_addr3" th:value="${member.memberAddr3}"/>
									        	</th:block>
									    	</div>
										</div>
								  	</div>
								  </div>
	                              <div class="col-12">
	                                <div class="d-flex align-items-center justify-content-end mt-4 gap-6">
	                                  <button type="submit" class="btn btn-primary">수정</button>
	                                  <button type="reset" class="btn bg-danger-subtle text-danger" th:onclick="|location.href='@{/home}'|">취소</button>
	                                </div>
	                              </div>
	                            </div>
	                          </form>
	                        </div>
	                      </div>
	                    </div>
					</div>
                </div>	                    
	                    
	                    
	                    
	                    
	                    
	                    
				<!-- 두 번째 탭 -->
                <div class="tab-pane fade" id="pills-notifications" role="tabpanel" aria-labelledby="pills-notifications-tab" tabindex="0">
                  <div class="row justify-content-center">
                    <div class="col-lg-9">
                      <div class="card border shadow-none">
                        <div class="card-body p-4">
                          <h4 class="card-title">Notification Preferences</h4>
                          <p class="card-subtitle mb-4">
                            Select the notificaitons ou would like to receive via email. Please note that you cannot opt
                            out of receving service
                            messages, such as payment, security or legal notifications.
                          </p>
                          <form class="mb-7">
                            <label for="exampleInputtext5" class="form-label">Email Address*</label>
                            <input type="text" class="form-control" id="exampleInputtext5" placeholder="" required>
                            <p class="mb-0">Required for notificaitons.</p>
                          </form>
                          <div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                              <div class="d-flex align-items-center gap-3">
                                <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                  <i class="ti ti-article text-dark d-block fs-7" width="22" height="22"></i>
                                </div>
                                <div>
                                  <h5 class="fs-4 fw-semibold">Our newsletter</h5>
                                  <p class="mb-0">We'll always let you know about important changes</p>
                                </div>
                              </div>
                              <div class="form-check form-switch mb-0">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                              </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                              <div class="d-flex align-items-center gap-3">
                                <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                  <i class="ti ti-checkbox text-dark d-block fs-7" width="22" height="22"></i>
                                </div>
                                <div>
                                  <h5 class="fs-4 fw-semibold">Order Confirmation</h5>
                                  <p class="mb-0">You will be notified when customer order any product</p>
                                </div>
                              </div>
                              <div class="form-check form-switch mb-0">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked1" checked>
                              </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                              <div class="d-flex align-items-center gap-3">
                                <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                  <i class="ti ti-clock-hour-4 text-dark d-block fs-7" width="22" height="22"></i>
                                </div>
                                <div>
                                  <h5 class="fs-4 fw-semibold">Order Status Changed</h5>
                                  <p class="mb-0">You will be notified when customer make changes to the order</p>
                                </div>
                              </div>
                              <div class="form-check form-switch mb-0">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked2" checked>
                              </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                              <div class="d-flex align-items-center gap-3">
                                <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                  <i class="ti ti-truck-delivery text-dark d-block fs-7" width="22" height="22"></i>
                                </div>
                                <div>
                                  <h5 class="fs-4 fw-semibold">Order Delivered</h5>
                                  <p class="mb-0">You will be notified once the order is delivered</p>
                                </div>
                              </div>
                              <div class="form-check form-switch mb-0">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked3">
                              </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                              <div class="d-flex align-items-center gap-3">
                                <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                  <i class="ti ti-mail text-dark d-block fs-7" width="22" height="22"></i>
                                </div>
                                <div>
                                  <h5 class="fs-4 fw-semibold">Email Notification</h5>
                                  <p class="mb-0">Turn on email notificaiton to get updates through email</p>
                                </div>
                              </div>
                              <div class="form-check form-switch mb-0">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked4" checked>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="card border shadow-none">
                        <div class="card-body p-4">
                          <h4 class="card-title">Date & Time</h4>
                          <p class="card-subtitle">Time zones and calendar display settings.</p>
                          <div class="d-flex align-items-center justify-content-between mt-7">
                            <div class="d-flex align-items-center gap-3">
                              <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                <i class="ti ti-clock-hour-4 text-dark d-block fs-7" width="22" height="22"></i>
                              </div>
                              <div>
                                <p class="mb-0">Time zone</p>
                                <h5 class="fs-4 fw-semibold">(UTC + 02:00) Athens, Bucharet</h5>
                              </div>
                            </div>
                            <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Download">
                              <i class="ti ti-download"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="card border shadow-none">
                        <div class="card-body p-4">
                          <h4 class="card-title">Ignore Tracking</h4>
                          <div class="d-flex align-items-center justify-content-between mt-7">
                            <div class="d-flex align-items-center gap-3">
                              <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                <i class="ti ti-player-pause text-dark d-block fs-7" width="22" height="22"></i>
                              </div>
                              <div>
                                <h5 class="fs-4 fw-semibold">Ignore Browser Tracking</h5>
                                <p class="mb-0">Browser Cookie</p>
                              </div>
                            </div>
                            <div class="form-check form-switch mb-0">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked5">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-flex align-items-center justify-content-end gap-6">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn bg-danger-subtle text-danger">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-bills" role="tabpanel" aria-labelledby="pills-bills-tab" tabindex="0">
                  <div class="row justify-content-center">
                    <div class="col-lg-9">
                      <div class="card border shadow-none">
                        <div class="card-body p-4">
                          <h4 class="card-title mb-3">Billing Information</h4>
                          <form>
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="mb-3">
                                  <label for="exampleInputtext6" class="form-label">Business
                                    Name*</label>
                                  <input type="text" class="form-control" id="exampleInputtext6" placeholder="Visitor Analytics">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputtext7" class="form-label">Business
                                    Address*</label>
                                  <input type="text" class="form-control" id="exampleInputtext7" placeholder="">
                                </div>
                                <div>
                                  <label for="exampleInputtext8" class="form-label">First Name*</label>
                                  <input type="text" class="form-control" id="exampleInputtext8" placeholder="">
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="mb-3">
                                  <label for="exampleInputtext9" class="form-label">Business
                                    Sector*</label>
                                  <input type="text" class="form-control" id="exampleInputtext9" placeholder="Arts, Media & Entertainment">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputtext10" class="form-label">Country*</label>
                                  <input type="text" class="form-control" id="exampleInputtext10" placeholder="Romania">
                                </div>
                                <div>
                                  <label for="exampleInputtext11" class="form-label">Last Name*</label>
                                  <input type="text" class="form-control" id="exampleInputtext11" placeholder="">
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="card border shadow-none">
                        <div class="card-body p-4">
                          <h4 class="card-title">Current Plan : <span class="text-success">Executive</span>
                          </h4>
                          <p class="card-subtitle">Thanks for being a premium member and supporting our development.</p>
                          <div class="d-flex align-items-center justify-content-between mt-7 mb-3">
                            <div class="d-flex align-items-center gap-3">
                              <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                <i class="ti ti-package text-dark d-block fs-7" width="22" height="22"></i>
                              </div>
                              <div>
                                <p class="mb-0">Current Plan</p>
                                <h5 class="fs-4 fw-semibold">750.000 Monthly Visits</h5>
                              </div>
                            </div>
                            <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add">
                              <i class="ti ti-circle-plus"></i>
                            </a>
                          </div>
                          <div class="d-flex align-items-center gap-3">
                            <button class="btn btn-primary">Change Plan</button>
                            <button class="btn bg-danger-subtle text-danger">Reset Plan</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="card border shadow-none">
                        <div class="card-body p-4">
                          <h4 class="card-title">Payment Method</h4>
                          <p class="card-subtitle">On 26 December, 2024</p>
                          <div class="d-flex align-items-center justify-content-between mt-7">
                            <div class="d-flex align-items-center gap-3">
                              <div class="text-bg-light rounded-1 p-6 d-flex align-items-center justify-content-center">
                                <i class="ti ti-credit-card text-dark d-block fs-7" width="22" height="22"></i>
                              </div>
                              <div>
                                <h5 class="fs-4 fw-semibold">Visa</h5>
                                <p class="mb-0 text-dark">*****2102</p>
                              </div>
                            </div>
                            <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                              <i class="ti ti-pencil-minus"></i>
                            </a>
                          </div>
                          <p class="my-2">If you updated your payment method, it will only be dislpayed here after your
                            next billing cycle.</p>
                          <div class="d-flex align-items-center gap-3">
                            <button class="btn bg-danger-subtle text-danger">Cancel Subscription</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-flex align-items-center justify-content-end gap-6">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn bg-danger-subtle text-danger">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab" tabindex="0">
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="card border shadow-none">
                        <div class="card-body p-4">
                          <h4 class="card-title mb-3">Two-factor Authentication</h4>
                          <div class="d-flex align-items-center justify-content-between pb-7">
                            <p class="card-subtitle mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis sapiente
                              sunt earum officiis laboriosam ut.</p>
                            <button class="btn btn-primary">Enable</button>
                          </div>
                          <div class="d-flex align-items-center justify-content-between py-3 border-top">
                            <div>
                              <h5 class="fs-4 fw-semibold mb-0">Authentication App</h5>
                              <p class="mb-0">Google auth app</p>
                            </div>
                            <button class="btn bg-primary-subtle text-primary">Setup</button>
                          </div>
                          <div class="d-flex align-items-center justify-content-between py-3 border-top">
                            <div>
                              <h5 class="fs-4 fw-semibold mb-0">Another e-mail</h5>
                              <p class="mb-0">E-mail to send verification link</p>
                            </div>
                            <button class="btn bg-primary-subtle text-primary">Setup</button>
                          </div>
                          <div class="d-flex align-items-center justify-content-between py-3 border-top">
                            <div>
                              <h5 class="fs-4 fw-semibold mb-0">SMS Recovery</h5>
                              <p class="mb-0">Your phone number or something</p>
                            </div>
                            <button class="btn bg-primary-subtle text-primary">Setup</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="card-body p-4">
                          <div class="text-bg-light rounded-1 p-6 d-inline-flex align-items-center justify-content-center mb-3">
                            <i class="ti ti-device-laptop text-primary d-block fs-7" width="22" height="22"></i>
                          </div>
                          <h4 class="card-title mb-0">Devices</h4>
                          <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit Rem.</p>
                          <button class="btn btn-primary mb-4">Sign out from all devices</button>
                          <div class="d-flex align-items-center justify-content-between py-3 border-bottom">
                            <div class="d-flex align-items-center gap-3">
                              <i class="ti ti-device-mobile text-dark d-block fs-7" width="26" height="26"></i>
                              <div>
                                <h5 class="fs-4 fw-semibold mb-0">iPhone 14</h5>
                                <p class="mb-0">London UK, Oct 23 at 1:15 AM</p>
                              </div>
                            </div>
                            <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle" href="javascript:void(0)">
                              <i class="ti ti-dots-vertical"></i>
                            </a>
                          </div>
                          <div class="d-flex align-items-center justify-content-between py-3">
                            <div class="d-flex align-items-center gap-3">
                              <i class="ti ti-device-laptop text-dark d-block fs-7" width="26" height="26"></i>
                              <div>
                                <h5 class="fs-4 fw-semibold mb-0">Macbook Air</h5>
                                <p class="mb-0">Gujarat India, Oct 24 at 3:15 AM</p>
                              </div>
                            </div>
                            <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle" href="javascript:void(0)">
                              <i class="ti ti-dots-vertical"></i>
                            </a>
                          </div>
                          <button class="btn bg-primary-subtle text-primary w-100 py-1">Need Help ?</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-flex align-items-center justify-content-end gap-6">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn bg-danger-subtle text-danger">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    <script>
    	// 프로필 이미지 수정하는 부분
		const imageForm = document.update_profile_image_form;
    	const memberNo = document.getElementById('member_no').value;
    	
		imageForm.addEventListener('submit',(event) => {
			event.preventDefault();
			
			if(confirm("프로필 사진을 정말 수정하시겠습니까?")) {
				const payload = new FormData(imageForm);
				
				fetch(`/member/${memberNo}/update/image`, {
					method : "post",
					headers : {
						'header': document.querySelector('meta[name="_csrf_header"]').content,
						'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
					},
					body : payload
				})
				.then(response => response.json())
				.then(data => {
					alert(data.res_msg);
					if(data.res_code == '200') {
						location.href = `/member/${memberNo}/update`;
					}
				})
				.catch(error => {
					console.log(error);
				})
			}
		});
    </script>
	
	<script>
		// 파일 선택시 미리보기 + 파일 크기 제한
		function previewSelectedImage(input) {
			const file = input.files[0];
			const preview = document.getElementById('preview_image');
			const saveBtn = document.getElementById('saveImageBtn');
			const resetBtn = document.getElementById('resetImageBtn');
			const maxSize = 2 * 1024 * 1024; // 2MB
			
			if (file && file.size > maxSize) {
		        alert("파일 용량은 2MB 이하만 업로드 가능합니다.");
		        input.value = "";
		        return;
		    }
			
			if (file) {
		    	const reader = new FileReader();
		    	reader.onload = function (e) {
		     		preview.src = e.target.result;
		    	};
		    	reader.readAsDataURL(file);
				
		    	saveBtn.style.visibility = "visible";
		    	resetBtn.style.visibility = "visible";
		  	}
		}
		
		// 선택한 파일을 내리고 기본 이미지로 되돌림
		function resetToDefaultImage() {
			const defaultImageUrl = '/img/default_profile.png';
			const preview = document.getElementById('preview_image');
			const fileInput = document.getElementById('profile_image');
			const saveBtn = document.getElementById('saveImageBtn');
			const resetBtn = document.getElementById('resetImageBtn');
			
			preview.src = defaultImageUrl;
			fileInput.value = '';
			saveBtn.style.visibility = "hidden";
			resetBtn.style.visibility = "hidden";
		}
	</script>
	
	<script>
    	// 계정 정보 수정하는 로직
		const updatePwForm = document.update_pw_form;
		
		updatePwForm.addEventListener('submit',(event) => {
			event.preventDefault();
			
			let vali_check = false;
			let vali_text = "";

			if(!updatePwForm.member_pw.value) {
				vali_text += "현재 비밀번호를 입력하세요.";
				updatePwForm.member_pw.focus();
			} else if(!updatePwForm.member_new_pw.value) {
				vali_text += "변경할 비밀번호를 입력하세요.";
				updatePwForm.member_new_pw.focus();
			} else if(!updatePwForm.member_new_pw_check.value ) {
				vali_text += "변경할 비밀번호 확인을 입력하세요.";
				updatePwForm.member_new_pw_check.focus();
			} else if(updatePwForm.member_new_pw.value != updatePwForm.member_new_pw_check.value) {
				vali_text += "변경할 비밀번호가 서로 일치하지 않습니다.";
				updatePwForm.member_new_pw.focus();
			} else {
				vali_check = true;
			}
			
			if(vali_check == false){
				alert(vali_text);
			} else {
				if(confirm("비밀번호를 수정하시겠습니까?")) {
					const payload = new FormData(updatePwForm);
					
					fetch(`/member/${memberNo}/update/pw`, {
						method : "post",
						headers : {
							'header': document.querySelector('meta[name="_csrf_header"]').content,
							'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
						},
						body : payload
					})
					.then(response => response.json())
					.then(data => {
						alert(data.res_msg);
						if(data.res_code == '200') {
							location.href = `/member/${memberNo}/update`;
						}
					})
					.catch(error => {
						console.log(error);
					})
				}
			}
		});
    </script>
    
    <script>
	    // 광역을 선택하면 지역이 비동기적으로 변하게 하는 로직
	    document.addEventListener('DOMContentLoaded', function() {
	        const addr1Select = document.getElementById('member_addr1');
	        const addr2Select = document.getElementById('member_addr2');
			
	        // addr1 변경시 동작하는 로직
	        addr1Select.addEventListener('change', function() {
	            const addr1 = addr1Select.value;
	
	            if (addr1) {
	            	fetch(`/address/addr2?addr1=${encodeURIComponent(addr1)}`, {
						method : 'get'
	            	})
					.then(response => response.json())
					.then(data => {
						const currentAddr2 = addr2Select.value;
						
						addr2Select.innerHTML = '<option value="">-</option>';
						
	                    data.forEach(function(addr2) {
	                        const option = document.createElement('option');
	                        option.value = addr2;
	                        option.textContent = addr2;
	                        addr2Select.appendChild(option);
	                    });
	                    
	                    if (currentAddr2 && data.includes(currentAddr2)) {
	                        addr2Select.value = currentAddr2;
	                    } else {
	                        addr2Select.value = "";
	                    }
					})
					.catch(error => {
						console.log(error);
					})
	            } else {
	                addr2Select.innerHTML = '<option value="">-</option>';
	            }
	        });
	    });
	</script>
	
	<script>
		// 개인정보 수정하는 부분
		const infoForm = document.update_profile_info_form;
		
		infoForm.addEventListener('submit',(event) => {
			event.preventDefault();
			
			if(confirm("개인정보를 정말 수정하시겠습니까?")) {
				const payload = new FormData(infoForm);
				
				fetch(`/member/${memberNo}/update`, {
					method : "post",
					headers : {
						'header': document.querySelector('meta[name="_csrf_header"]').content,
						'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
					},
					body : payload
				})
				.then(response => response.json())
				.then(data => {
					alert(data.res_msg);
					if(data.res_code == '200') {
						location.href = `/member/${memberNo}/update`;
					}
				})
				.catch(error => {
					console.log(error);
				})
			}
		});
	</script>
	
	<!-- ---------------------------------------------------------------------------- -->
	
	<!-- Custom JS Files -->
	
	
	
	<!-- Bootstrap Common JS Files Start -->

	<!-- Import vendorJs Files -->
	<script th:src="@{/assets/js/vendor.min.js}"></script>
	
  	<!-- Import Js Files -->
  	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  	<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}"></script>
  	<script th:src="@{/assets/js/theme/app.init.js}"></script>
  	<script th:src="@{/assets/js/theme/theme.js}"></script>
  	<script th:src="@{/assets/js/theme/app.min.js}"></script>
  	<script th:src="@{/assets/js/theme/sidebarmenu.js}"></script>

  	<!-- solar icons -->
  	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  	<script th:src="@{/assets/libs/owl.carousel/dist/owl.carousel.min.js}"></script>
  	<script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
  	<script th:src="@{/assets/js/dashboards/dashboard.js}"></script>
  	
  	<!-- Bootstrap Common JS Files End -->
  	
  	<!-- Custom JS Files -->
  	
  	
  	
</th:block>
</html>