<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.groupware.approval.mybatis.mapper.ApprovalMapper">
	<select id="selectApprovalAllByMemberNo" parameterType="Long"
	resultType="com.mjc.groupware.approval.mybatis.vo.ApprovalVo">
		SELECT W.appr_no ,W.appr_title ,W.appr_reg_date ,W.appr_status
		,W.appr_order_status ,W.relationship ,M.member_name
		,AF.approval_form_name
		FROM
		(SELECT a.appr_no , a.appr_reg_date
				,a.appr_title,a.appr_status ,a.appr_order_status
				,a.appr_sender ,a.approval_type_no
				,'P' as relationship
		FROM `approval` a
		JOIN (
			SELECT *
			FROM `appr_approver`
			WHERE approver_no = #{member_no}) p
		ON a.appr_no = p.appr_no
		AND p.approver_order <![CDATA[ <= ]]> a.appr_order_status
		UNION
		SELECT a.appr_no , a.appr_reg_date
				,a.appr_title ,a.appr_status ,a.appr_order_status
				 ,a.appr_sender ,a.approval_type_no
				,'A' as relationship
		FROM `approval` a
		JOIN (SELECT * FROM `appr_agreementer` WHERE agreementer_no = #{member_no}) t ON a.appr_no = t.appr_no
		UNION
		SELECT a.appr_no , a.appr_reg_date
				,a.appr_title ,a.appr_status ,a.appr_order_status
				,a.appr_sender ,a.approval_type_no
				,'R' AS relationship
		FROM `approval` a
		JOIN (SELECT * FROM `appr_referencer` WHERE referencer_no = #{member_no}) r ON a.appr_no = r.appr_no
			) W
		JOIN `member` M ON W.appr_sender = M.member_no
		JOIN `approval_form` AF ON W.approval_type_no = AF.approval_form_no
		ORDER BY W.appr_reg_date DESC;
	</select>
</mapper>