<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/include/layout}">
<th:block layout:fragment="content">
	<div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb align-items-center">
          <li class="breadcrumb-item">
            <a class="text-muted text-decoration-none" th:href="@{/home}">
              <i class="ti ti-home fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item" aria-current="page">결재 관리</li>
        </ol>
      </nav><br>
      <h2 class="mb-0 fw-bolder fs-8">결재 관리</h2>
    </div><br>
	<a th:href="@{/admin/approval/create}">양식 추가</a>
</th:block>
</html>