<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/include/layout}">

<!-- HEAD 생략: layout에서 상속받음 -->

<th:block layout:fragment="content">
  <!-- Summernote CSS -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

  <!-- 에디터 배경색 강제 흰색 설정 -->
  <style>
    .note-editor .note-editable {
      background-color: white !important;
      color: black !important;
    }
  </style>

  <div class="post-form">
    <textarea name="postContent" id="summernote"></textarea>
  </div>
</th:block>

<!-- 스크립트는 여기에 넣기 -->
<th:block layout:fragment="scripts">
	<script>
		$(document).ready(function () {
		  console.log("Summernote 상태:", $.fn.summernote);
		
		  $('#summernote').summernote({
		    height: 800,
		    lang: 'ko-KR',
		    codeviewFilter: false, // (선택) 코드 뷰 모드에서 필터 비활성화
		    toolbar: [
		      ['fontsize', ['fontsize']],
		      ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
		      ['color', ['color']],
		      ['table', ['table']],
		      ['para', ['ul', 'ol', 'paragraph']],
		      ['height', ['height']],
		      ['insert',['picture']]
		    ],
		    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
		    fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72','96'],
		    focus: true
		  });
		});
	</script>
</th:block>

</html>
