<!DOCTYPE html>
<html lang="ko" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/include/layout}">
<th:block layout:fragment="content">
          <div class="page-titles mb-7 mb-md-5">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-12 align-self-center">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb align-items-center">
                    <li class="breadcrumb-item">
                      <a class="text-muted text-decoration-none" href="../main/index.html">
                        <i class="ti ti-home fs-5"></i>
                      </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">사내복지</li>
                  </ol>
                  <br>
                </nav>
                <h2 class="mb-0 fw-bolder fs-8">사내복지</h2>
              </div>
                <div class="col-lg-4 col-md-6 d-none d-md-flex align-items-center justify-content-end">
                <form class="position-relative">
                    <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="검색어를 입력해주세요">
                    <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                </form>
            <!-- 관리자와 사용자에따라 검색버튼 분리(검색,숙소관리) -->
			<th:block th:each="funcNo : ${accessibleFuncNoList}">
				<th:block th:if="${funcNo != 30 && funcNo == 31}">
					<a href="javascript:void(0)"
			                   class="btn btn-primary d-flex align-items-center ms-2">
			                   	<i class="ti me-1"></i>
			               		검색
			                </a>
				</th:block>
			</th:block>
			<th:block th:each="funcNo : ${accessibleFuncNoList}">
				<th:block th:if="${funcNo == 30}">
					<a th:href="@{/adminHome}"
						class="btn btn-primary d-flex align-items-center ms-2">
						<i class="ti me-1"></i>
			                	숙소관리
					</a>
				</th:block>
			</th:block>
              </div>
            </div>
          </div>
          <!-- 필터링 -->
          <div class="card position-relative overflow-hidden">
            <div class="shop-part d-flex w-100">
              <div class="shop-filters flex-shrink-0 border-end d-none d-lg-block">
                <ul class="list-group pt-2 border-bottom rounded-0">
                  <h6 class="my-3 mx-4">지역</h6>
                  <li class="list-group-item border-0 p-0 mx-4 mb-2">
                    <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1" href="javascript:void(0)">
                      <i class="ti ti-circles fs-5"></i>전체
                    </a>
                  </li>
                  <li class="list-group-item border-0 p-0 mx-4 mb-2">
                    <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1" href="javascript:void(0)">
                      <i class="ti ti-map-pin fs-5"></i>서울
                    </a>
                  </li>
                  <li class="list-group-item border-0 p-0 mx-4 mb-2">
                    <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1" href="javascript:void(0)">
                      <i class="ti ti-map-pin fs-5"></i>부산
                    </a>
                  </li>
                  <li class="list-group-item border-0 p-0 mx-4 mb-2">
                    <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1" href="javascript:void(0)">
                      <i class="ti ti-map-pin fs-5"></i>제주도
                    </a>
                  </li>
                </ul>
                <ul class="list-group pt-2 border-bottom rounded-0">
                  <h6 class="my-3 mx-4">가격</h6>
                  <li class="list-group-item border-0 p-0 mx-4 mb-2">
                    <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1" href="javascript:void(0)">
                      <i class="ti ti-sort-ascending-2 fs-5"></i>높은순
                    </a>
                  </li>
                  <li class="list-group-item border-0 p-0 mx-4 mb-2">
                    <a class="d-flex align-items-center gap-6 list-group-item-action text-dark px-3 py-6 rounded-1" href="javascript:void(0)">
                      <i class="ti ti-sort-descending-2 fs-5"></i>
                      </i>낮은순
                    </a>
                  </li>
                </ul>
                <div class="by-gender border-bottom rounded-0">
                  <h6 class="mt-4 mb-3 mx-4 fw-semibold">숙소유형</h6>
                  <div class="pb-4 px-4">
                    <div class="form-check py-2 mb-0">
                      <input class="form-check-input p-2" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                      <label class="form-check-label d-flex align-items-center ps-2" for="exampleRadios1">
                        리조트
                      </label>
                    </div>
                    <div class="form-check py-2 mb-0">
                      <input class="form-check-input p-2" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
                      <label class="form-check-label d-flex align-items-center ps-2" for="exampleRadios2">
                        호텔
                      </label>
                    </div>
                  </div>
                </div>
                <div class="by-pricing border-bottom rounded-0">
                  <h6 class="mt-4 mb-3 mx-4 fw-semibold">이용가능 여부</h6>
                  <div class="pb-4 px-4">
                    <div class="form-check py-2 mb-0">
                      <input class="form-check-input p-2" type="radio" name="exampleRadios" id="exampleRadios5" value="option1" checked>
                      <label class="form-check-label d-flex align-items-center ps-2" for="exampleRadios5">
                        예약가능
                      </label>
                    </div>
                    <div class="form-check py-2 mb-0">
                      <input class="form-check-input p-2" type="radio" name="exampleRadios" id="exampleRadios6" value="option1">
                      <label class="form-check-label d-flex align-items-center ps-2" for="exampleRadios6">
                        예약불가능
                      </label>
                    </div>
                  </div>
                </div>
                <div class="p-4">
                  <a href="javascript:void(0)" class="btn btn-primary w-100">필터 초기화</a>
                </div>
              </div>
              <div class="card-body p-4 pb-0">
                <div class="d-flex justify-content-between align-items-center gap-6 mb-4">
                  <a class="btn btn-primary d-lg-none d-flex" data-bs-toggle="offcanvas" href="#filtercategory" role="button" aria-controls="filtercategory">
                    <i class="ti ti-menu-2 fs-6"></i>
                  </a>
	              
		        <!-- 예약내역조회 -->
				<th:block th:each="funcNo : ${accessibleFuncNoList}">
					<th:block th:if="${funcNo == 31}">
						<a th:href="@{/accommodation/list}"
				            class="btn btn-primary d-flex align-items-center ms-2">
				         		<i class="ti me-1"></i>
				              		예약내역조회
				        </a>
					</th:block>
				</th:block>
				
                  <!-- 날짜 검색창 -->
                  <form class="d-flex align-items-center gap-2">
                    <input type="date" class="form-control search-chat py-2 ps-3" id="date-srh-start">
                    <span class="mx-2 fs-8">~</span>
                    <input type="date" class="form-control search-chat py-2 ps-3" id="date-end-start">
                  	<button type="submit" class="btn btn-primary px-2 py-2 ms-2" style="white-space: nowrap; min-width: 60px;">
	                  검색
	                </button>
                  </form>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-xxl-4">
                    <div class="card hover-img overflow-hidden">
                      <div class="position-relative">
                        <a href="/accommodation/detail">
                          <img src="/img/신라호텔_제주도.jpg" class="card-img-top" alt="flexy-img">
                        </a>
                      </div>
                      <div class="card-body pt-3 p-4">
                        <h6 class="fs-4">신라호텔</h6>
                        <div class="d-flex align-items-center justify-content-between">
                          <h6 class="fs-4 mb-0">200,000원 <span class="ms-2 fw-normal text-muted fs-3">
                              <del>400,000원</del>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  

                  
                  
                  
                  <div class="col-sm-6 col-xxl-4">
                    <div class="card hover-img overflow-hidden">
                      <div class="position-relative">
                        <a href="../main/eco-shop-detail.html">
                          <img src="../assets/images/products/s5.jpg" class="card-img-top" alt="flexy-img">
                        </a>
                        <a href="javascript:void(0)" class="text-bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                          <i class="ti ti-basket fs-4"></i>
                        </a>
                      </div>
                      <div class="card-body pt-3 p-4">
                        <h6 class="fs-4">Derma-E</h6>
                        <div class="d-flex align-items-center justify-content-between">
                          <h6 class="fs-4 mb-0">$650 <span class="ms-2 fw-normal text-muted fs-3">
                              <del>$900</del>
                            </span>
                          </h6>
                          <ul class="list-unstyled d-flex align-items-center mb-0">
                            <li>
                              <a class="me-1" href="javascript:void(0)">
                                <i class="ti ti-star text-warning"></i>
                              </a>
                            </li>
                            <li>
                              <a class="me-1" href="javascript:void(0)">
                                <i class="ti ti-star text-warning"></i>
                              </a>
                            </li>
                            <li>
                              <a class="me-1" href="javascript:void(0)">
                                <i class="ti ti-star text-warning"></i>
                              </a>
                            </li>
                            <li>
                              <a class="me-1" href="javascript:void(0)">
                                <i class="ti ti-star text-warning"></i>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)">
                                <i class="ti ti-star text-warning"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                 
                      
                </div>
              </div>
            </div>
          </div>
       
      
	<script>
	  function handleColorTheme(e) {
	    document.documentElement.setAttribute("data-color-theme", e);
	  }
	  
	  // 이미지 클릭시 동작
	  document.addEventListener("DOMContentLoaded", function () {
		    const cards = document.querySelectorAll('.card[data-href]');
		    cards.forEach(card => {
		      card.addEventListener('click', function (e) {
		        const href = card.getAttribute('data-href');
		        if (href) {
		          window.location.href = href;
		        }
		      });
		    });
		  });
	  
	</script>

  <!-- Import vendorJs Files -->
	<script th:src="@{/assets/js/vendor.min.js}"></script>
	
  	<!-- Import Js Files -->
  	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  	<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}"></script>
  	<script th:src="@{/assets/js/theme/app.init.js}"></script>
  	<script th:src="@{/assets/js/theme/theme.js}"></script>
  	<script th:src="@{/assets/js/theme/app.min.js}"></script>
  	<script th:src="@{/assets/js/theme/sidebarmenu.js}"></script>

  	<!-- solar icons -->
  	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  	<script th:src="@{/assets/libs/owl.carousel/dist/owl.carousel.min.js}"></script>
  	<script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
  	<script th:src="@{/assets/js/dashboards/dashboard.js}"></script>
</body>


</th:block>
</html>