<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/include/layout}">
<th:block layout:fragment="content">
	<!-- Preloader Start -->
	<div class="toast toast-onload align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    	<div class="toast-body hstack align-items-start gap-6">
      	<i class="ti ti-alert-circle fs-6"></i>
      	<div>
        	<h5 class="text-white fs-3 mb-1">무자코 그룹웨어</h5>
        	<h6 class="text-white fs-2 mb-0"><span th:text="|${#authentication.principal.member.memberName}님 환영합니다!|"></span></h6>
      	</div>
      	<button type="button" class="btn-close btn-close-white fs-2 m-0 ms-auto shadow-none" data-bs-dismiss="toast" aria-label="Close"></button>
    	</div>
  	</div>
  	
  	<div class="preloader">
    	<img th:src="@{/assets/images/logos/preloader.svg}" alt="loader" class="lds-ripple img-fluid" />
  	</div>
  	<!-- Preloader End -->

	<a th:href="@{/home}">여기는 홈화면입니다.</a>
	<br>
	<a th:href="@{/sample}">샘플페이지로 이동</a>
	<br>
	
</th:block>
</html>