<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/include/layout}">
<th:block layout:fragment="content">
	
	<!-- Preloader Start -->
	<div class="toast toast-onload align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="2000">
    	<div class="toast-body hstack align-items-start gap-6">
      	<i class="ti ti-alert-circle fs-6"></i>
      		<div>
        		<h5 class="text-white fs-3 mb-1">무자코 그룹웨어</h5>
        		<h6 class="text-white fs-2 mb-0"><span th:text="|${#authentication.principal.member.memberName}님 환영합니다!|"></span></h6>
      		</div>
      		<button type="button" class="btn-close btn-close-white fs-2 m-0 ms-auto shadow-none" data-bs-dismiss="toast" aria-label="Close"></button>
    	</div>
  	</div>
  	<!-- Preloader End -->
	
	<!-- 페이지 레이아웃 -->
	<div class="container-fluid">
		<div class="row">
	    	<div class="col-lg-3">
	    	
	        	<div class="card shadow-none border">
	            	<div class="card-body">
	            	
						<div class="d-flex flex-column align-items-center">
							
						    <div class="text-center mb-3">
						        <th:block th:if="${latestMyProfile != null}">
						            <img th:src="@{|/uploads/${latestMyProfile.new_name}|}" width="120" height="120" style="margin-top:20px; margin-bottom:20px;" alt="profile-img" />
						        </th:block>
						        <th:block th:if="${latestMyProfile == null}">
						            <img th:src="@{/img/default_profile.png}" width="120" height="120" style="margin-top:20px; margin-bottom:20px;" alt="default-profile" />
						        </th:block>
						    </div>
							
						    <h5 class="fs-4 mb-1" th:text="${#authentication.principal.member.memberName}">사용자 이름</h5>
							
							<div class="mb-1 text-muted small">
							    <span th:text="'#' + ${#authentication.principal.member.memberNo}">사번</span>
							</div>
							
						    <div class="text-center text-muted small">
						        <th:block th:if="${#authentication.principal.member.dept != null && #authentication.principal.member.pos != null}">
						            <span th:text="${#authentication.principal.member.dept.deptName+' (' + #authentication.principal.member.pos.posName + ')'}">부서(직급)</span>
						        </th:block>
						        <th:block th:if="${#authentication.principal.member.dept == null && #authentication.principal.member.pos != null}">
						            <span th:text="${'미배정 (' + #authentication.principal.member.pos.posName + ')'}">부서 미배정(직급)</span>
						        </th:block>
						        <th:block th:if="${#authentication.principal.member.dept != null && #authentication.principal.member.pos == null}">
						            <span th:text="${#authentication.principal.member.dept.deptName + ' (없음)'}">부서(직급 미배정)</span>
						        </th:block>
						        <th:block th:if="${#authentication.principal.member.dept == null && #authentication.principal.member.pos == null}">
						            <span>미배정(없음)</span>
						        </th:block>
						    </div>
							
						</div>
				        
				        <hr class="my-3">
				
				        <div class="d-flex justify-content-center gap-2">
				            <button type="button" class="btn btn-primary btn-sm px-2" style="min-width: 45px;">출근</button>
				            <button type="button" class="btn btn-secondary btn-sm px-2" style="min-width: 45px;">퇴근</button>
				        </div>
				        
				         <hr class="my-3">
				        
				        <div class="d-flex align-items-center mb-3">
				            <i class="ti ti-calendar" style="font-size: 14px;"></i>
				            <span class="ms-3">일정</span>
				        </div>
				        
	            		<div class="d-flex align-items-center mb-3" style="cursor: pointer;" onclick="location.href='/attendance/info'">
						    <i class="ti ti-clock" style="font-size: 14px;"></i>
						    <span class="ms-3">근무 이력</span>
						</div>
				        
	                	<div class="d-flex align-items-center mb-3">
				            <i class="ti ti-check" style="font-size: 14px;"></i>
				            <span class="ms-3">결재</span>
				        </div>
				        
				        <div class="d-flex align-items-center mb-3">
				            <i class="ti ti-file" style="font-size: 14px;"></i>
				            <span class="ms-3">공유문서함</span>
				        </div>
						
				        <div class="d-flex align-items-center mb-3">
				            <i class="ti ti-message-circle" style="font-size: 14px;"></i>
				            <span class="ms-3">채팅</span>
				        </div>
				
				        <div class="d-flex align-items-center mb-3">
				            <i class="ti ti-alert-circle" style="font-size: 14px;"></i>
				            <span class="ms-3">공지사항</span>
				        </div>
				
				        <div class="d-flex align-items-center">
				            <i class="ti ti-clipboard-text" style="font-size: 14px;"></i>
				            <span class="ms-3">게시판</span>
				        </div>
	            	</div>
	  			</div>
				
			</div>
	        
	        <div class="col-lg-9">
			    <div class="row">
			        <!-- 첫 번째 박스 (공지사항 및 자유게시판) -->
			        <div class="col-md-8">
			            <div class="card shadow-none border">
			                <div class="card-body" style="height: 360px; max-height: 360px; overflow-y:auto;">
			                    <div class="hstack gap-6 mb-3">
			                        <a class="p-0 hstack justify-content-center round-32 btn btn-secondary rounded-circle" href="javascript:void(0)">
			                            <i class="ti ti-alert-circle"></i>
			                        </a>
			                        <a href="javascript:void(0)" class="text-dark link-primary">공지사항</a>
			                    </div>
		                        <div>
		                        	공지사항 th<br>
		                        	최신 공지 1<br>
		                        	최신 공지 2<br>
		                        	최신 공지 3
		                        </div>
		                        <div class="hstack gap-6 mt-3 mb-3">
			                        <a class="p-0 hstack justify-content-center round-32 btn btn-secondary rounded-circle" href="javascript:void(0)">
			                            <i class="ti ti-clipboard-text"></i>
			                        </a>
			                        <a href="javascript:void(0)" class="text-dark link-primary">자유게시판</a>
			                    </div>
			                    <div>
			                    	자유게시판 th<br>
			                    	최신글 1<br>
		                        	최신글 2<br>
		                        	최신글 3
			                    </div>
			                </div>
			            </div>
			        </div>
			
			        <!-- 두 번째 박스 (오늘의 할 일) -->
			        <div class="col-md-4">
			            <div class="card shadow-none border">
			                <div class="card-body" style="height: 360px; max-height: 360px; overflow-y:auto;">
			                    <div class="hstack gap-6 mb-3">
			                        <a class="hstack p-0 round-32 justify-content-center btn btn-secondary rounded-circle" href="javascript:void(0)">
			                            <i class="ti ti-calendar"></i>
			                        </a>
			                        <a href="javascript:void(0)" class="text-dark link-secondary">일정</a>
			                    </div>
			                    <div>오늘의 할 일 목록</div>
			                </div>
			            </div>
			        </div>
			    </div>
				
			    <div class="row">
			        <!-- 세 번째 박스 (캘린더) -->
			        <div class="col-md-8">
			            <div class="card shadow-none border">
			                <div class="card-body" style="height: 360px; max-height: 360px; overflow-y:auto;">
			                    <div class="hstack gap-6 mb-3">
			                        <a class="hstack p-0 round-32 justify-content-center btn btn-secondary rounded-circle" href="javascript:void(0)">
			                            <i class="ti ti-calendar"></i>
			                        </a>
			                        <a href="javascript:void(0)" class="text-dark link-secondary">일정</a>
			                    </div>
			                    <div>
			                    	캘린더<br>
			                    </div>
			                </div>
			            </div>
			        </div>
			
			        <!-- 네 번째 박스 (채팅) -->
			        <div class="col-md-4">
			            <div class="card shadow-none border">
			                <div class="card-body" style="height: 360px; max-height: 360px; overflow-y:auto;">
			                    <div class="hstack gap-6 mb-3">
			                        <a class="hstack p-0 round-32 justify-content-center btn btn-secondary rounded-circle" href="javascript:void(0)">
			                            <i class="ti ti-message-circle"></i>
			                        </a>
			                        <a href="javascript:void(0)" class="text-dark link-secondary">채팅</a>
			                    </div>
			                    <div>
			                    	내 채팅방 상위 5개
			                    </div>
			                </div>
			            </div>
			        </div>
			        
			    </div>
			</div>

		</div>
	</div>
	
	<!-- Bootstrap Common JS Files Start -->
	
	<!-- Import vendorJs Files -->
	<script th:src="@{/assets/js/vendor.min.js}"></script>
	
  	<!-- Import Js Files -->
  	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  	<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}"></script>
  	<script th:src="@{/assets/js/theme/app.init.js}"></script>
  	<script th:src="@{/assets/js/theme/theme.js}"></script>
  	<script th:src="@{/assets/js/theme/app.min.js}"></script>
  	<script th:src="@{/assets/js/theme/sidebarmenu.js}"></script>

  	<!-- solar icons -->
  	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  	<script th:src="@{/assets/libs/owl.carousel/dist/owl.carousel.min.js}"></script>
  	<script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
  	<script th:src="@{/assets/js/dashboards/dashboard.js}"></script>
  	
  	<!-- Bootstrap Common JS Files End -->
	
</th:block>
</html>