@charset "UTF-8";

.theme-option.selected {
	box-shadow: 0 0 10px 4px rgba(0, 123, 255, 0.7);
	transform: scale(1.1);
	transition: all 0.3s ease;
}

/* 다크모드에서 placeholder 톤 다운 */
[data-bs-theme="dark"] input::placeholder {
	color: #aaa; /* 연한 회색으로 눈에 부담 없게 */
}

.func-item {
	cursor: pointer;
}