<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/include/layout}">
<th:block layout:fragment="content">
	<section>	
			<div id="section_wrap">
				<div class="word">
					<h3>게시글 상세 정보</h3>
				</div>
				<div class="board_detail">
					<ul>
						<li>
							<img src="">
							<br>
							<span></span>
						</li>
						<li>
							<table>
								<tr>
									<td>제목</td>
									<td th:text="${board.board_title}">제목</td>
								</tr>
								<tr>
									<td>내용</td>
									<td th:text="${board.board_content}">내용</td>
								</tr>
								<tr>
									<td>작성자</td>
									<td th:text="${board.member.member_name}">작성자</td>
								</tr>
								<tr>
									<td>등록일</td>
									<td th:text="${#temporals.format(board.regDate, 'yy-MM-dd')}">등록일</td>
								</tr>
								<tr>
									<td>수정일</td>
									<td th:text="${#temporals.format(board.modDate, 'yy-MM-dd')}">수정일</td>
								</tr>
							</table>
						</li>
					</ul>		
				</div>
				<div class="buttons">
					<a th:href="@{/board/{id}/update(id=${board.boardNo})}">수정</a>
					<a th:onclick="|javascript:boardDelete('${board.boardNo}')|">삭제</a>		
				</div>
			</div>
		</section>
    </th:block>
    <script>
    	const boardDelete = function(board_no){
			if(confirm("게시글을 삭제하시겠습니까?")){
				fetch('/board/'+board_no,{
					method:'delete'
				})
				.then(response => response.json())
				.then(data => {
					alert(data.res_msg);
					if(data.res_code == '200'){
						loaction.href="/board";
					}
				})
			}
		}
    </script>
</html>