<!DOCTYPE html>
<html lang="en" dir="ltr"
      data-bs-theme="light"
      data-color-theme="Blue_Theme"
      data-layout="horizontal"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/include/layout}">
<th:block layout:fragment="content">

		<!--상단 홈 아이콘 / ...  -->
		<div class="col-lg-8 col-md-6 col-12 align-self-center">
              <nav aria-label="breadcrumb">
                 <ol class="breadcrumb align-items-center">
                   <li class="breadcrumb-item">
                     <a class="text-muted text-decoration-none" th:href="@{/home}">
                       <i class="ti ti-home fs-5"></i>
                     </a>
                   </li>
                  <li class="breadcrumb-item" aria-current="page">자유게시판</li>
                 </ol>
              </nav><br>
              <h2 class="mb-0 fw-bolder fs-8">자유 게시판 목록</h2>
        </div><br>
        
        
<!-- 게시판 목록 정렬 -->
<form action="/board/list" name="search_board_form" method="get" class="d-inline-block me-3">
	<select id="order_type" name="order_type" class="form-select form-select-sm" onchange="this.form.submit()">
		<option value="1" th:selected="${searchDto.order_type == 1}">최신순</option>
		<option value="2" th:selected="${searchDto.order_type == 2}">오래된순</option>
		<option value="3" th:selected="${searchDto.order_type == 3}">조회수순</option>
	</select>
</form>

<!-- 검색창(제목,내용) -->
      <div class="d-flex justify-content-between align-items-center mb-3">
			<form action="/board/list" method="get">
				<div class="d-flex align-items-center rounded-pill shadow-sm px-3 py-2"
					style="background-color: white; max-width: 350px; height:40px; border: 1px solid #ced4da;">
					<button type="submit" class="btn border-0 bg-transparent p-0">
						<i class="ti ti-search fs-5 text-primary"></i>
					</button>
					<input type="text" name="keyword"
						class="form-control border-0 bg-transparent ms-2"
						placeholder="검색어를 입력하세요."
						style="box-shadow: none; background-color: transparent;">
				</div>
			</form>
		</div>
		
 		<div class="d-flex justify-content-end mb-4">
  			<a class="btn btn-primary" th:href="@{/board/create}">게시글 작성</a>
		</div>

	    <div class="table-wrapper p-4 bg-white rounded-4 shadow-sm">
		  <div class="table-responsive">
		    <table class="table align-middle text-center">
      <thead class="table-light">
        <tr>
		    <th>번호</th>
		    <th>제목</th>
		    <th>작성자</th>
		    <th>등록일</th>
		    <th>수정일</th>
		    <th>조회수</th>
	    </tr>
      </thead>
      <tbody>
     <tr th:if="${#lists.isEmpty(boardList)}">
		<td colspan="6">게시글이 없습니다.</td>
	</tr>
		<tr th:each="board : ${boardList}">
  			<td th:text="${board.board_no}"></td>        
  			<td th:text="${board.board_title}"></td>     
  			<td th:text="${board.member_no}"></td>       
  			<td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm')}"></td> 
  			<td th:text="${#temporals.format(board.modDate, 'yyyy-MM-dd HH:mm')}"></td> 
  			<td th:text="${board.views}"></td>
		</tr>
      </tbody>
    </table>
  </div>
</div>
 <!-- Pagination -->
    <nav class="d-flex justify-content-center mt-4">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link">‹</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item"><a class="page-link" href="#">›</a></li>
      </ul>
    </nav>
</th:block>
<script>
			document.getElementById('order_type').addEventListener('change',function(e){
				const orderType = e.target.value;
				location.href="/board?order_type="+orderType;
			});
			$(function(){
				$('.board_list tbody tr').on('click',function(){
					const boardNo = $(this).data('board_no');
					location.href="/board/"+boardNo;
				})
			})
		</script>
</html>