#folder-table {
  table-layout: fixed;
  width: 100%;
}

#folder-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#folder-table th, #folder-table td {
  vertical-align: middle;
  text-align: center;
}

#shared-tree .jstree-anchor,
#modal-folder-tree .jstree-anchor {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 160px; /* 적당한 폭 설정. 조정 가능 */
  vertical-align: middle;
}