@charset "UTF-8";
.selected-button {
    background-color: #e7f1ff !important;
    color: #0d6efd !important;
    border-color: #0d6efd !important;
  }
.table td {
		color: black !important;
	}
.toastui-editor-contents img {
    max-width: 100%;
    height: auto;
    display: block;
}
	