@charset "UTF-8";

.selected-button {
	background-color: #e7f1ff !important;
	color: #0d6efd !important;
	border-color: #0d6efd !important;
}

.table td {
	color: black !important;
}

.toastui-editor-contents img {
	max-width: 100%;
	height: auto;
	display: block;
}

.toastui-editor-contents {
	color: black !important;
	font-size: 1.1rem;
}

.title {
	color: black !important;
}

.file-link {
	display: inline-block;
	color: #007bff;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.file-link:hover {
	color: #000;
	text-decoration: underline;
}

/* 라이트 테마 */
[data-bs-theme="light"] .fixed-row td {
	background-color: #f3e5f5 !important; /* 연보라 */
	color: black !important;
}

/* 다크 테마 */
[data-bs-theme="dark"] .fixed-row td {
	background-color: #3a3a3a !important; /* 짙은 회색 */
	color: #e0e0e0 !important; /* 밝은 회색 텍스트 */
}

.custom-file-upload-display {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  height: 32px;
  vertical-align: middle;
}