@charset "UTF-8";
.selected-button {
    background-color: #e7f1ff !important;
    color: #0d6efd !important;
    border-color: #0d6efd !important;
  }
.modal-body {
  max-height: 600px;
  overflow-y: auto;
}
#signatureContainer {
  border: none !important;         /* 회색 선 제거 */
  background-color: #f8f9fa;       /* 부트스트랩 light 배경 */
}

#signature {
  max-width: 100%;
  height: 250px;
  border: 1px solid #ced4da;
  background-color: white;
}

/* jSignature 내부 canvas의 기본 스타일 초기화 */
#signature canvas {
  width: 100% !important;
  height: 100% !important;
}
#updateSignatureContainer {
  border: none !important;         /* 회색 선 제거 */
  background-color: #f8f9fa;       /* 부트스트랩 light 배경 */
}

#updateSignature {
  max-width: 100%;
  height: 250px;
  border: 1px solid #ced4da;
  background-color: white;
}

/* jSignature 내부 canvas의 기본 스타일 초기화 */
#updateSignature canvas {
  width: 100% !important;
  height: 100% !important;
}

.signature-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.signature-table td {
  height: 100px; /* 높이 넉넉하게 */
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.signature-label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #555;
}

.signature-box {
  height: 40px;
  border: 1px dashed #aaa;
  background-color: #f9f9f9;
  margin-top: 4px;
  line-height: 40px;
}

.table td {
		color: black !important;
	}
	
.table-responsive tbody tr {
	cursor: pointer;
}
.signature-img {
		  width: 100%;
		  height: 100%;
		  object-fit: contain; /* 또는 cover로 바꿔도 됨 */
		  display: block;
}