@charset "UTF-8";

[data-bs-theme="light"] #nav-wrapper {
  background-color: #f8f9fa;
}

[data-bs-theme="dark"] #nav-wrapper {
  background-color: #282C34; /* 또는 원하는 진한 남색 계열 */
}


  .dropdown-item {
    pointer-events: auto !important;
    cursor: pointer;
    background-color: white !important;
    position: relative !important;
    z-index: 9999 !important;
  }

  .message-body {
    display: block !important;
    pointer-events: auto !important;
    z-index: 9999 !important;
  }

.chat-popup-badge {
  font-size: 12px;
  padding: 4px 8px;
  z-index:
}