@charset "UTF-8";

.fc-header-toolbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 1rem;
	flex-wrap: wrap; /* 반응형 처리 */
}

.fc-toolbar-chunk:first-child {
	position: absolute;
	left: 0;
}

.fc-toolbar-title {
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
}

.fc-toolbar-chunk:nth-child(2) {
	flex-grow: 1;
	text-align: center;
}

.table td {
		color: black !important;
	}
	
.unread-badge {
  font-size: 12px;
  padding: 4px 8px;
  height: auto;
  line-height: 1;
  display: inline-block;
}

#chat-alert-modal.show {
  display: block !important;
  position: fixed !important;
  bottom: 30px;
  right: 30px;
  z-index: 1080;
  animation: fadeInUp 0.4s ease;
}

.chat-toast-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
}

.chat-toast {
  width: 350px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  pointer-events: auto;
}

 #chat-alert-toast .toast {
    border: none;
    border-radius: 0.5rem; /* 전체 모서리 */
    overflow: hidden;      /* 내부 요소 모서리 맞춤 */
  }

  #chat-alert-toast .toast-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }